[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=thunderbird
Comment=
Exec=bash -c "~/.misc/start-thunderbird.sh"
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

